* {
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth; 
  }

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    
}

.container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .nav-list {
    display: flex;
    justify-content:space-between;
    align-items: center;
    list-style: none;
  }

  .nav-link {
    padding: 0 20px;
    line-height: 50px;
    font-size: 16px;
    transition: 0.3s;
  }

  .main {
    display: flex;
  }

  .left-side {
    width: 30%;
    padding: 0 5px;
  }

  .right-side {
    width: 70%;
    padding: 0 5px;

  }

  h1 {
    font-size: 44px;
    line-height: 130%;
    margin: 0;
  }

  h2 {
    font-size: 30px;
    width: 60%;
  
  }

  h3 {
    color:rgb(125, 126, 128);
    font-size: 20px;
    font-weight: 400;
    margin: 5px;
  }

  section {
    padding: 15px 50px;
    margin-bottom: 10px;
  }

  a {
    color: black;
    text-decoration: none;
  }

  a:hover {
    color:blue
  }

  .photo {
    background-image: url("../assets/img/a297d78.png");
    background-position:top;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 30px;
    height: 300px;
  
  }

  .about {
    height: 300px;
  }

  .skills {
    background-color: #dae6f3;
    border-radius: 30px 0 0 0;
  }

  .contacts {
    background-color: #dFDDF4;
    height: 362px;
    border-radius: 0 0 0 30px;
  }

  .phone::before {
    content: "Phone: ";
  }
  .email::before {
    content: "Email:  ";
  }
  .discord::before {
    content: "Discord:  ";
  }

  .courses {
    background-color: #dFDDF4;
    border-radius: 0 30px;
  }

  .code {
    background-color: #d6e9e3;
    border-radius: 30px 0;
  }

  .projects {
    background-color: #dae6f3;
    border-radius: 0 30px;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 12px;
}

.my-github {
  display: flex;
  align-items: center;
}



