* {
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth; 
  }

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    
}

.container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .nav-list {
    display: flex;
    justify-content:space-between;
    align-items: center;
    list-style: none;
  }

  .nav-link {
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
    color: black;
    font-size: 16px;
    transition: 0.3s;
  }

  .nav-link:hover {
    text-decoration: underline;
  }

  .main {
    display: flex;
  }

  .left-side {
    width: 30%;
    padding: 0 10px;
  }

  .right-side {
    width: 70%;
    padding: 0 10px;

  }

  h1 {
    font-size: 44px;
    line-height: 130%;
    margin: 0;
  }

  h2 {
    font-size: 30px;
  
  }

  h3 {
    font-size: 20px;
    margin: 5px;
  }






  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 12px;
}

.my-github {
  display: flex;
  align-items: center;
}

.footer-link {
  text-decoration: none;
  color: black;
}

.footer-link:hover {
  color:blue
}

